@model  List<PetGrooming.Models.Species>
@{
    ViewBag.Title = "Add";
}
    <div class="content">
        <h2>Add a New Pet</h2>
        <a href="/Pet/List" class="button">Back to List</a>
        <div class="petform">
            <form method="POST" action="/Pet/Add">
                <!-- TODO: format this nicely -->
                <div>
                    <span class="name">Name : </span><input type="text" id="PetName" name="PetName" />
                </div>
                <div><span class="name">Color : </span><input type="text" id="PetColor" name="PetColor" /></div>
                <div><span class="name">Weight : </span><input type="text" id="PetWeight" name="PetWeight" /></div>
                <div>
                    <span class="name">Species : </span>
                    <select id="SpeciesID" type="text" name="SpeciesID">
                        @{
                            //A rendering loop for presenting a list of species
                            //The pet should be one of these species
                            foreach (var species in Model)
                            {
                                <option value="@species.SpeciesID">@species.Name</option>

                            }
                        }
                    </select>
                </div>
                    <div>
                        <span class="name">Notes : </span>
                        <textarea id="PetNotes" name="PetNotes"></textarea>
                    </div>
                    <input type="submit" value="Add Pet" class="button">
</form>
    </div>
    </div>
